<% include header %>

<h3><a href="/"><< back </a></h1>

<h2><span> Something went wrong!</span></h2>

<section>
<p>I am sorry but this resource has not been found. Please go back to the previous page.</p>
</section>

<% include footer %>
