  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <script id="dsq-count-scr" src="//https-newsappaboutdesign-herokuapp-com.disqus.com/count.js" async></script>


  <p> ________________________________________
    <br>
     https://newsappaboutdesign.herokuapp.com/
    <br>
      ________________________________________
   </p>

  </body>
</html>
