  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>


  <p> ________________________________________
    <br>
     https://newsappaboutdesign.herokuapp.com/
     <br>
      ________________________________________
   </p>

  </body>
</html>
