html {
  width:100%;
  background-color:rgba(0,139,160,0.2)
}

body {
  font-family: helvetica;
  width: 80%;
  padding:1em;
    margin: 2em auto 2em auto;
  line-height: 1.4em;
  font-size:70%;
  text-align: center;
  background-color:rgba(255,255,255,0.8)
}

img {
  max-width: 100%;
}

nav {
  margin: auto;
  text-align: justify;
  min-width: 10px;
  padding:1em 0.8em 0 0.8em;
  background-color: rgba(0,100,138,0.5);
}

nav:after {
    content: '';
    display: inline-block;
    width: 80%;
}

nav a {
  display: inline-block;
  margin-right: 4px;
  color:white;
}

nav a:hover  {
  font-weight:bold;
  }

h1 {
  font-size:200%;
  font-family:impact;
  margin-top: 1.5em;
  }

h2 {
  margin: 20px 0;
  font-weight:bold;
  }

h2 a {
  margin: 20px 0;
  font-weight:bold;
  font-family: impact;
  font-size: 150%;
  letter-spacing: 1px;
  color:black;
  text-decoration: underline;
}

span {
  font-size:110%;
  font-weight:bold;
}

  h3 {
    display: block;
    font-family: impact;
    font-size:150%;
    margin-top:2em;
    margin-bottom:1em;
    text-decoration: underline;
  }

h4 {
  font-style: italic;
  font-weight: bold;
}

  }

section {
  margin: 25px 0;
}


p {
  margin: 10px 0;
  padding:0 20px;
}

a {
  text-decoration: none;
}
